@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .dp__theme_light {
	--dp-font-family:system-ui,
		Avenir,
		Helvetica,
		Arial,
		sans-serif;
	--dp-background-color: #fff;
	--dp-text-color: #101828;
	--dp-hover-color: #f3f3f3;
	--dp-hover-text-color: #212121;
	--dp-hover-icon-color: #959595;
	--dp-primary-color: #041B39;
	--dp-primary-disabled-color: #101828;
	--dp-font-size: 16px;
	--dp-input-padding: 8px 30px 8px 12px;
	--dp-border-color: #d1d5dc;
	--dp-border-radius: 6px;
  }
}

a {
	@apply text-secondary;
  	text-decoration: inherit;
	transition: color 0.2s ease-in-out;
}

a:hover, a:focus { 
	@apply text-green;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* buttons */

button:focus,
button:focus-visible {
	outline: 1px auto -webkit-focus-ring-color;
}

button {
	@apply cursor-pointer;
}

.btn_base {
	@apply inline-flex justify-center items-center cursor-pointer bg-primary py-3 px-8 border border-transparent rounded-lg shadow-sm text-white bg-gradient-to-r transition-all;
}

.btn_base_v2 {
	@apply inline-flex justify-center items-center cursor-pointer bg-secondary py-3 px-8 border border-transparent rounded-lg shadow-sm text-white bg-gradient-to-r transition-all;
}